<template>
  <div :class="filter">
    <b-list-group
      v-for="key in Object.keys(wFaq).filter(key => !/(variant)/.test(key))"
      :id="getFramaname(key) !== undefined
        ? $t(getFramaname(key), '-tlL').replace(/[^a-z]/g, '')
        : key"
      :key="key"
      :class="wFaq[key].variant"
    >
      <h2 class="mt-3">
        <svg-icon
          :label="getFramaname(key) ? getFramaname(key) : $t(`faq.${key}.title`)"
          :name="getSectionIcon(key)"
          variant="fc-g6"
        />
      </h2>
      <b-list-group-item
        v-for="id in Object.keys(wFaq[key]).filter(id => !/variant/.test(id))"
        :key="id"
        :class="`${toggle === id ? 'active' : ''}${wFaq[key][id].variant}`"
      >
        <a
          aria-hidden="true"
          :href="`#${id}`"
          class="toggle"
          onclick="return false"
          @click="toggle = id.replace(toggle, '')"
        ></a>
        <a
          :id="id"
          :href="`#${id}`"
          @click="toggle = id.replace(toggle, '')"
        >
          <h3
            class="list-group-item-heading"
          >
            <svg-icon
              v-show="toggle === id"
              name="times"
              variant="m-n3 pull-right fc-g8"
            />
            <span v-html="$t(`faq.${key}.${id}.q`)"></span>
          </h3>
        </a>
        <div class="list-group-item-text">
          <div v-html="$t(`faq.${key}.${id}.a`)"></div>
        </div>
      </b-list-group-item>
    </b-list-group>
  </div>
</template>

<script>
export default {
  props: {
    faq: {
      type: String, // don't work with Object :-/
      required: true,
    },
    search: {
      type: String,
      required: true,
    },
  },

  data() {
    return {
      toggle: window.location.hash.replace(/^#/, ''),
      filter: 'nofilter',
      wFaq: JSON.parse(this.faq),
    };
  },

  watch: {
    faq(newValue) {
      if (newValue) {
        this.wFaq = JSON.parse(this.faq);
      }
    },
    search(newValue) {
      this.filter = newValue && this.search !== '' ? 'filter' : 'nofilter';
    },
  },

  methods: {
    getFramaname(key) {
      return this.$te(`color.${this.$t(key, '-k~lL@')}`)
        ? this.$t(`color.${this.$t(key, '-k~lL@')}`)
        : undefined;
    },

    getSectionIcon(key) {
      let svg = 'question-circle';
      if (this.$te(`svg.${this.$t(key, '-k~L@')}`)) {
        svg = this.$t(`svg.${this.$t(key, '-k~L@')}`);
      }
      if (this.$te(`faq.svg.${key}`)) {
        svg = this.$t(`faq.svg.${key}`);
      }
      return svg;
    },
  },
};
</script>
